<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="funcionario">
        <div class="fun-img">
            <div class="img">
             <img src="" alt="">
            </div>
             Funcionarios
             </div>
         </div>
         <table class="tabela">
            
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Cargo</th>
                        <th>Salário</th>
                        <th>Status</th>
                        <th>Ações</th>
                    </tr>
                </thead>
         </table>
    </div>
</body>
</html>